/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f9;
  }
  
  /* Homepage Styles */
  .homepage-container {
    text-align: center;
  }
  
  .hero-section {
    background: linear-gradient(to right, #a2a2a2, #000000);
    color: #fff;
    padding: 40px 20px;
    margin-left: 28px;
    margin-right: 28px;
  }
  
  .hero-section h1 {
    font-size: 32px;
    margin-bottom: 15px;
  }
  
  .hero-section p {
    font-size: 13px;
    margin-bottom: 20px;
  }
  
  .cta-button {
    padding: 10px 20px;
    font-size: 13px;
    color: #fff;
    background-color: #141414;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .cta-button:hover {
    background-color: #242424;
  }
  
  .features-section {
    padding: 40px 20px;
  }
  
  .features-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #2d2c2c;
  }
  
  .features {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .feature-card {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    text-align: left;
  }
  
  .feature-card h3 {
    margin-bottom: 10px;
    color: #2d2c2c;
    font-size: 18px;
  }
  .feature-card p {
    font-size: 13px;
    line-height: 18px;
  }

  

  